# .env.example  ← commit lên GitHub
NODE_ENV=development
PORT=3000

DATABASE_URL="mysql://USER:PASSWORD@localhost:3306/homestay_db"

JWT_ACCESS_SECRET=your_access_secret_here
JWT_REFRESH_SECRET=your_refresh_secret_here
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d