# Dependencies
node_modules/

# Build
dist/

# Environment
.env
.env.local

# Docker data (không commit data volume)
docker/mysql/data/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
/src/generated/prisma
